[access "refs/*"]
  read = group graffiti-core
  owner = group graffiti-ptl
[access "refs/heads/*"]
    label-Code-Review = -2..+2 group graffiti-core
    label-Code-Review = -2..+2 group graffiti-ptl
    label-Verified = -2..+2 group graffiti-ptl
    label-Workflow = -1..+1 group graffiti-core
    label-Workflow = -1..+1 group graffiti-ptl
    label-Workflow = -1..+0 group Registered Users
    submit = group graffiti-ptl
    read = group graffiti-core
    read = group Registered Users
[access "refs/meta/config"]
    read = group graffiti-core
    read = group Registered Users
[access "refs/tags/*"]
    read = group Registered Users
    read = group graffiti-core
    push = group graffiti-ptl
    pushSignedTag =  group graffiti-ptl
    forgeCommitter = group graffiti-ptl
[receive]
    requireChangeId = true
[submit]
    mergeContent = true
[project]
        description = graffiti Koji builds tag manager
